table 
{
    width: 100%;
    height: 350px;
    color:white;
    margin: 25px,50px,75px,100px;
    font-family: 'Arima Madurai', cursive;
}
.mini {
    height: 10px;
}
.entete {
    height: 65px;
}
.heure {
    background-color: white ;
    color:#000000;
}
th 
{
    background-color: gainsboro ;
    color:black;
    padding: 25px,0px;
    width: 5%;
    font-weight: lighter;
}
.th {
    background-color: gainsboro ;
    color:black;
    padding: 25px,0px;
    width: 5%;
}
.yoga{
    background-color:#009bcc ;
}
.biking{
    background-color:#96c21f;
    }
.stretching{
    background-color:#11bcaf ;
        }
.cardio{
    background-color:#7459ad;
        }
.selfdefense{
    background-color:#e65686;
        }
.boxe{
    background-color: #d9006b;
                }
.crossfit{
    background-color: rgb(255, 136, 0);
     }
.image {
    background-image:url(stripes.png);
}